<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat Page</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main id="app">
        <div class="logobox">
            <img class="logo" src="./images/logo.png" alt="logo">
            There are ( {{number}} ) people live.
        </div>
        <div class="mainbox">
            <div class="fn-clear" id="messages">
                <!-- render a new message component for every message -->
                <newmessage :msg=" item" :socketid="socketID" v-for="(item,index) in list" :key="index">
                </newmessage>

            </div>
        </div>
        <div class=" inputbox">
            <input type="text" v-model="username" placeholder="Use your handle or change others nickname">
            <div class="textbox">
                <textarea v-model="message" class="text-message" name="" id="" cols="30" rows="10"
                    placeholder="(^˵◕ω◕˵^)Meow~ Typing something here..."></textarea>
                <a href="javascript:;" class="send" @click="dispatchMessage">
                    <img src="./images/send.png" alt="">
                </a>
            </div>
        </div>
        
    </main>
    <!-- development version, includes helpful console warnings -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>

</html>