<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catchat</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="index" id="index">
        <img class="logo" src="./images/logo.png" alt="logo">
        <h1>Welcome to Cat Chat App</h1>
        <div class="inputbox">
            <input type="text" class="text" v-model=username placeholder="your handle">
        <!--    <input type="password" class="password" v-model=password placeholder="password"> -->
        </div>
        <a href="javascript:;" class="btn" @click="run()">
            <img src="./images/send.png" alt="pic">
        </a>
        <!-- <main>
            <h1 class="hidden">We Chat</h1>
            <h4>Add a username to join the chat</h4>
            <h6>or not, to stealth post</h6>

            <input type="text" class="text" placeholder="your handle">
            <input type="password" class="password" placeholder="password">

            <input type="submit" class="submit" value="JOIN">

            -temp hack to bypass login
            <a href="/chat">to chat page</a>

        </main> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            data: {
                username: "",
                
            },
            created: function () {
            },

            methods: {
                run: function () {
                    if (this.username != '' && this.password != '') {
                        window.location.href = './chat?username=' + this.username;
                    } else {
                        alert('Please enter a message')
                    }
                }

            }
        }).$mount("#index");
    </script>
</body>

</html>